@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!--start content-->
<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">상품 목록</div>
    </div>
    <!--end breadcrumb-->

    <div class="card" style="padding-bottom: 10px;">
    @foreach (Product_Model product_model in Model)
    {
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td class="productlist">
                                <div class="product-box">
                                        <img src=@product_model.ImgUrl style="width:100px; height:100px">
                                </div>
                            </td>
                                <td><span>@product_model.Id</span></td>
                            <td><span>@product_model.Name</span></td>
                            <td><span>@product_model.Price</span></td>
                            <td><span class="badge rounded-pill bg-success">@product_model.Status</span></td>
                            <td><span>@product_model.CreateTime</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                @if(product_model.Status == BaseProject.Data.Enums.StatusCategory.Activation)
                {
                    <div class="text-start">
                        <a class="btn" href="/Product/delete?id=@product_model.Id">상품비활성화</a>
                    </div>
                }
                else if(product_model.Status == BaseProject.Data.Enums.StatusCategory.Deactivation)
                {
                    <div class="text-start">
                        <a class="btn" href="/Product/delete?id=@product_model.Id">상품비활성화</a>
                    </div>
                }
                <div class="text-start">
                    <a class="btn" href="/Product/detail?id=@product_model.Id">@product_model.Name 수정</a>
                </div>
            </div>
        }
        <div class="text-start align-self-md-center">
            <a class="btn btn-primary px-4" href="/product/create">상품 등록</a>
        </div>

        @*<nav class="float-end mt-4" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>*@
    </div>
</main>
<!--end page main-->


